.primary-button{
    background-color: var(--primary-color) !important;
    border: 2px solid var(--primary-color) !important;
    color: white;
}
.project-container{
    overflow: hidden;
}
.image-size{
    max-width: 250px;
    max-height: 150px;
    object-fit: contain;
}