.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: var(--primary-color); */
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    height: 80px;
    padding-top: 0%;
    background: #fdfdfdc7;
    backdrop-filter: blur(10px);
}
.nav-link{
    color: var(--primary-color) !important;
    margin-right: 5px;
    border-radius: 20px;
}
.nav-link:hover{
    text-decoration: underline;
    font-weight: 600;
    transition: text-decoration ease-in-out 1s;
}
.logo-text{
    font-family: "Caveat", cursive;
    font-size:14px;
    padding: 0px 20px 0px 20px;
    color: var(--primary-color);
    font-weight: 400;
    margin: -10%;
    .letter-1{
        font-size: 50px;
        font-weight: 500;
        text-transform: uppercase;
    }
}
.logo-text::before{
    content: '{<';
    color: var(--primary-color);
    font-size: 20px;
    font-family: "Caveat", cursive;
}
.logo-text::after{
    content: '/>}';
    font-size: 20px;
    color: var(--primary-color);
}
.resume-btn{
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    /* width: 100px; */
    height: 40px;
    border: none;
    margin-left: 5px;
    i{
        color: var(--primary-color);
    }
    color: var(--primary-color);
}
.toggle-icon{
    background:transparent;
    color: var(--primary-color);
    border: none;
}
.offcanvas{
    /* width: 30vh !important; */
    height: fit-content !important;
}
.offcan-header{
    color: var(--primary-color);
}
.explore-div{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.list-group-item{
    color: var(--primary-color) !important;
}
.offcanvas-header{
    border-bottom: 1px solid #f5f5f5;
}

.scroll-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background:var(--primary-color) !important;
  transform-origin: 0;
    z-index: 1;
}
.nav-bar-container{
    background-color: var(--secondary-color);
}